- provide(:title, "Home")

.center.jumbotron
  %h1 Welcome to the Sample App

  %h2 
    This is the home page for the
    %span 
      = link_to "Ruby on Rails Tutorial", 'https://railstutorial.jp/help'
      Sample application.

  = link_to 'Sing up now!', signup_path , class: "btn btn-1g btn-primary"

= link_to image_tag('rails.svg', alt: 'Rails logo', width: '200px'), "https://rubyonrails.org/"